<div class="memberships">

<div>
  <h2>Members</h2>
</div>
  
  <div class="add-student-form panel">
    <h2>Add Student</h2>
    <%= render 'form' %>
    <div><a class="add-student-form-cancel"><p class="code-font smallcaps">cancel</p></a></div>
  </div>

  <!-- Successful Student Added - confirm -->
  <% if @new_member.is_a?(User) %>
  <div class="add-student-confirm panel">
    <h3>You just added <%= @new_member.name %> to <%= @class_group.name %></h3>
    <div class="row">
      <img alt="Gravatar for user" src="http://www.gravatar.com/avatar/<%= @new_member.gravatar_id %>?size=100" class="gravatar">

      <ul class="small-block-grid-2">
        <li><%= link_to 'Keep', class_group_memberships_path(@class_group), :class => "button open-sans-font smallcaps" %></li>
        <li><%= link_to 'Remove', class_group_membership_path(@class_group, @new_membership), method: :delete, :class => "button open-sans-font smallcaps", data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
  <% end %>

  <!-- Add Student Error: try again or cancel -->
  <% if @new_member.is_a?(String) %>
  <div class="add-student-error panel">
    <h3><%= @new_member %>is not a Github user. Would you like to try again?</h3>
    <div class="row">
      <a href="#"><img alt="sad Octocat" src="http://archaeogeek.github.io/ukqgis_talk/images/octocat_sad.gif"></a>
    </div>
  </div>
  <% end %>

  
  <!-- List of current members that have access to the class -->
  <div data-equalizer class="member-list">
    <div class="small-12 medium-6 large-6 columns" data-equalizer-watch>
      <h3>Instructors</h3>
      <p>
        <table>
          <% @teacher_memberships.each do |teach_mem| %>
            <tr>
              <td>@<%= teach_mem.user.nickname %></td>
              <td class="gravatar-container"><img src="http://www.gravatar.com/avatar/<%= teach_mem.user.gravatar_id %>?size=60" alt="<%= teach_mem.user.name %> Gravatar" title="<%= teach_mem.user.name %> Gravatar" class="gravatar-radius"></td>
              <!-- this should link to their github account -->
              <td><%= link_to 'remove', class_group_membership_path(@class_group, teach_mem), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>  
          <% end %>
        </table>
      </p>
    </div>

    <div class="small-12 medium-6 large-6columns" data-equalizer-watch>
      <h3>Students</h3>
      <p>
        <table>
          <% @student_memberships.each do |stud_mem| %>
            <tr>
              <td><%= stud_mem.user.name %></td>
              <!-- this should link to their github account -->
              <td>@<%= stud_mem.user.nickname %></td>
              <td><%= link_to 'remove', class_group_membership_path(@class_group, stud_mem), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </table>
      </p>
    </div>
  </div>
</div>