<h1>Listing memberships</h1>

<table>
  <thead>
    <tr>
      <th>Membership</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.kind %></td>
        <td><%= link_to 'Show', class_group_membership_path(@class_group, membership) %></td>
        <td><%= link_to 'Edit', edit_class_group_membership_path(@class_group, membership) %></td>
        <td><%= link_to 'Destroy', class_group_membership_path(@class_group, membership), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_class_group_membership_path %>
