<h1>Listing memberships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Github Nickname</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_memberships.each do |teach_mem| %>
      <tr>
        <td><%= teach_mem.user.name %></td>
        <td><%= teach_mem.user.nickname %></td>
        <td><%= teach_mem.kind %></td>
        <td><%= link_to 'Destroy', class_group_membership_path(@class_group, teach_mem), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
        <% @student_memberships.each do |stud_mem| %>
      <tr>
        <td><%= stud_mem.user.name %></td>
        <td><%= stud_mem.user.nickname %></td>
        <td><%= stud_mem.kind %></td>
        <td><%= link_to 'Destroy', class_group_membership_path(@class_group, stud_mem), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>New membership</h1>

<%= render 'form' %>
