<div class="navigation" id="navigation">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="megrim-font"><%= link_to 'click clack', root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon gothic-caps-font smallcaps"><a href="#"><span>menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <a><li class="has-dropdown slabo-font">
        <a href="#" class="gravatar-container"><img alt="Gravatar for user" src="http://www.gravatar.com/avatar/<%= current_user.gravatar_id %>?size=40" class="gravatar"><%= current_user.name %></a>
        <ul class="dropdown">
          <li><%= link_to 'My Classes', class_groups_path %></li>
          <li><%= link_to 'About', "/about" %></li>
          <li><a href="#"><%= link_to "Sign out", "/signout" %></a></li>
        </ul>
      </li>
      </a>
    </ul>
  </section>
</nav>
</div>