<script type="text/javascript">
  window.g = {};
  g.classGroup = <%= raw @class_group.to_json %>;
</script>
<div ng-app="app">
  <p id="notice"><%= notice %></p>
  <!-- class title -->
  <p class="code-font smallcaps"><%= link_to @class_group.name.upcase, @class_group %></p>
  <h1 class="opensans-font"><%= @question_set.name %></h1>

  <% if @class_group.errors.any? %>
    <div id="error_explanation">
      <p> <%= @class_group.errors %> </p>
    </div>
  <% end %>

  <div class="question-set-show-style" id="question-set-show-style">
    <%= link_to 'Back', :back %>
 
    <div>
      <% if !@current_user.teacher?(@class_group.id).empty? %>
        <%= render 'teacher_show' %>
      <% else %>
        <%= render 'student_show' %>
      <% end %>
    </div>

  </div>

  <%= javascript_include_tag "angular_application" %>
</div> <!-- end of ng-app -->