<script type="text/javascript">
  window.g = {};
  g.classGroup = <%= raw @class_group.to_json %>;
</script>
<div ng-app="app">
  <p id="notice"><%= notice %></p>
  <!-- class title -->
  <p class="code-font smallcaps"><%= link_to @class_group.name.upcase, @class_group %></p>
  <h1 class="opensans-font"><%= @question_set.name %></h1>

  <% if @class_group.errors.any? %>
    <div id="error_explanation">
      <p> <%= @class_group.errors %> </p>
    </div>
  <% end %>

  <%= link_to 'Back', :back %>

  <div class="ng-qset-show">
    <!-- yield here to the view -->

  <!-- Begin Teacher view Section -->

    <div class="teacher-qset-view">
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

          <div class="align-left menu-icon">
          <a class="left-off-canvas-toggle" href="#" >
            <i class="fa fa-bars fa-3x"></i>
          </a>
          </div>

          <!-- Off Canvas Menu -->
          <aside class="left-off-canvas-menu">
              <!-- whatever you want goes here -->
              <ul>
                <li><a href="#">Attendance Check</a></li>
                <li><a href="#">Q1</a></li>
              </ul>
          </aside>

          <!-- Question content for Teacher (with control options) goes here -->
          <div class="question-yield">
            <h3>Attendance Check:</h3>
            <h2>Are you here?</h2>
            <button class="button radius">Yes!</button>
          </div>

          <div class="teacher-control-options row">
            <div class="small-10 small-centered medium-6 medium-centered large-6 large-centered columns panel">
              <div class="row">
                <div class="small-6 medium-6 large-6 columns panel">
                  <a href="#">
                    <i class="fa fa-play fa-3x"></i>
                    <p>start</p>
                  </a>
                </div>
                <div class="small-6 medium-6 large-6 columns panel">
                  <a href="#">
                    <i class="fa fa-stop fa-3x"></i>
                    <p>stop</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

        </div>
      </div>  
    </div> <!-- END teacher question control panel -->

    <!-- begin student view section -->

    <div class="student-qset-view">
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">

          <div class="align-left menu-icon">
          <a class="left-off-canvas-toggle" href="#" >
            <i class="fa fa-bars fa-3x"></i>
          </a>
          </div>

          <!-- Off Canvas Menu -->
          <aside class="left-off-canvas-menu">
              <!-- whatever you want goes here -->
              <ul>
                <li><a href="#">Attendance Check</a></li>
                <li><a href="#">Q1</a></li>
              </ul>
          </aside>

          <!-- Question content for Teacher (with control options) goes here -->
          <div class="question-yield">
            <h3>Attendance Check:</h3>
            <h2>Are you here?</h2>
            <button class="button radius">Yes!</button>
          </div>

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

        </div>
      </div>  
    </div>

    <div class="row">
      <div class="small-10 columns">
        <input type="text">
      </div>
      <div class="small-2 columns">
        <button>submit</button>
      </div>
    </div>
  
  </div> <!-- end of ng-q-set-show -->
  <%= javascript_include_tag "angular_application" %>
</div> <!-- end of ng-app -->