<script type="text/javascript">
  window.g = {};
  g.classGroup = <%= raw @class_group.to_json %>;
  g.questions = <%= raw @question.to_json %>;
  g.questionSet = <%= raw @question_set.to_json %>;
  window.p = {};
  p.questionSet = <%= raw @question_set.to_json %>;
</script>
<div ng-app="app" ng-controller="TeacherViewCtrl">
  <p id="notice"><%= notice %></p>
  <!-- class title -->
  <p class="code-font smallcaps"><%= link_to @class_group.name.upcase, @class_group %></p>
  <h1 class="opensans-font"><%= @question_set.name %></h1>
  <% if @class_group.errors.any? %>
    <div id="error_explanation">
      <p> <%= @class_group.errors %> </p>
    </div>
  <% end %>

  <div class="question-set-show-style" id="question-set-show-style">
  
    <%= link_to 'Back', :back %><!-- Begin Teacher view Section -->

  <div class="teacher-qset-view">
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        <div class="align-left menu-icon">
        <a class="left-off-canvas-toggle" href="#" >
          <i class="fa fa-bars fa-3x"></i>
        </a>
        </div>
        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <!-- whatever you want goes here -->
            <ul>
              <li ng-repeat="question in questions">
                <a ng-click="setTab(questions.indexOf(question))" class="cloud">{{question.content.question}}</a><br /><br />
              </li>
            </ul>
        </aside>

        <!-- Question content for Teacher (with control options) goes here -->
        <div ng-repeat="question in questions" class="current-lecture-question show" ng-show="showTab == {{questions.indexOf(question)}}">
          <div class="question-yield">
            <h2><span class="Q">Q{{questions.indexOf(question)+1}}:    <span><span class="content">{{question.content.question}}</span></h2>
            <div ng-repeat="choice in question.content.choices track by $index">
              <button class="button radius choice">{{choice}}</button>
            </div>
          </div>
        
          <div class="teacher-control-options row">
            <div class="small-10 small-centered medium-6 medium-centered large-6 large-centered columns">
              <div class="row">
                <div class="small-6 medium-6 large-6 columns">
                  <a ng-click="openQuestion(question.id)">
                    <i class="fa fa-play fa-3x"></i>
                    <p>start</p>
                  </a>
                </div>
                <div class="small-6 medium-6 large-6 columns">
                  <a ng-click="closeQuestion(question.id)">
                    <i class="fa fa-stop fa-3x"></i>
                    <p>stop</p>
                  </a>
                </div>
              </div>
              <div class="row">
                <a ng-click="setTab(showTab + 1)">Next >></a>
              </div>
            </div>
          </div>
        </div>
      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

      </div>
    </div>  
  </div> <!-- END teacher question control panel -->

  </div>

  <%= javascript_include_tag "angular_application" %>
</div> <!-- end of ng-app -->