<div id="about" class="opensans-font">

  <div id="panel_fix">
    <div  class="clearfix left">
      <header class="splain">
        <h1 class="text-center splain opensans-font smallcaps">about</h1>
        <p class="opensans-font tagline">This is an open-source group project by students at <a href="http://www.makersquare.com" target="_blank">MAKERSQUARE</a> in Austin, TX. </p>
      </header>
      <div class="row clearfix text-center trio-desc">
        <div class="small-12 medium-4 large-4 centered columns">
          <h3 class="gothic-caps-font">stack</h3>
          <i class="fa fa-laptop fa-3x"></i>
          <p>
            Click Clack is a combo of Rails, Angular, and Node. And blood, late nights, curses, and wine.
          </p>
        </div>
        <div class="small-12 medium-4 large-4 centered columns">
          <h3 class="gothic-caps-font">our app</h3>
          <i class="fa fa-mortar-board fa-3x"></i>
          <p>
            Use Click Clack to quickly integrate Checks for Understanding in your lectures. CFU's are quick questions that gauge student understanding of lecture material. It's made by students and teachers. For students and teachers.
          </p>
        </div>
        <div class="small-12 medium-4 large-4 centered columns">
          <h3 class="gothic-caps-font">check us out</h3>
          <i class="fa fa-github fa-3x"></i>
          <p>
            Take a gander at our repo on <a href="https://github.com/makersquare/clicker" target="_blank" class="repo-link"><span>GITHUB</span></a>.
          </p>
        </div>
      </div>
    </div>
    
    <div class="small-12 medium-12 large-12 columns left what-what">
      <h1 class="text-center smallcaps">the makers</h1>
    </div>

    <div class="small-12 medium-12 large-12 columns maker-img-div">
      <div class="row hex-main">
        <div class="hex-img-container-1 large-9 large-centered columns text-center">
          <a href="https://twitter.com/mindeavor" target="_blank"><%= image_tag 'gilbert.png', class: 'hex-img' %>
            <span class="text-content text-1">
              <span>
                GILBERT
                <br>
                Project Manager
                <br>
                Senior Instructor
                <br>
                <i class="fa fa-twitter fa-2x"></i>
                <br>
              </span>
            </span>
          </a>
          <a href="https://twitter.com/TheRandyD" target="_blank"><%= image_tag 'randy.png', class: 'hex-img' %>
            <span class="text-content text-2">
              <span>
                RANDY
                <br>
                UI / UX
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
          <a href="https://twitter.com/ChristineOen" target="_blank"><%= image_tag 'chris.png', class: 'hex-img' %>
            <span class="text-content text-3">
              <span>
                CHRIS
                <br>
                Back-End
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
        </div>

        <div class="hex-img-container-2 large-7 large-centered columns text-center">
          <a href="https://twitter.com/AlliZad" target="_blank"><%= image_tag 'allison.png', class: 'hex-img' %>
            <span class="text-content text-4">
              <span>
                ALLISON
                <br>
                UI / UX
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
          <a href="https://twitter.com/cathzozo" target="_blank"><%= image_tag 'catherine.png', class: 'hex-img' %>
            <span class="text-content text-5">
              <span>
                CATHERINE
                <br>
                Back-End
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
        </div>

        <div class="hex-img-container-3 large-9 large-centered columns text-center">
          <a href="https://twitter.com/bpatterson2013" target="_blank"><%= image_tag 'brian.png', class: 'hex-img' %>
            <span class="text-content text-6">
              <span>
                BRIAN
                <br>
                Front-End
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
          <a href="https://twitter.com/QuinAdney" target="_blank"><%= image_tag 'quin.png', class: 'hex-img' %>
            <span class="text-content text-7">
              <span>
                QUIN
                <br>
                Front-End
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
          <a href="https://twitter.com/charnwoot" target="_blank"><%= image_tag 'joe.png', class: 'hex-img' %>
            <span class="text-content text-8">
              <span>
                JOE
                <br>
                Back-End
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>