<div id="about" class="opensans-font">

  <div id="panel_fix">
    <div  class="clearfix left row splain">
      <h1 class="text-center">About</h1>
      <div class="small-12 medium-6 large6 columns">
        <p>Click Clack is the result of an open source group project by students at MakerSquare in Austin, Tx.  Our intent was to create an immediate feedback tool for teachers to use during class lecture so that they may check their students understanding of material being presented as they progressed through lectures.</p>
        <p>We chose to build Click Clack with the latest in modern web development technologies making it so it can be used on any device the teacher or student has available to access the internet.  It's designed to be interactive, fun, and to serve a major purpose in daily instruction.  Give Click Clack a try and we think you'll immediately see the benefits of using it over traditional methods.</p>
      </div>
      <div id="mks-pic" class="small-12 medium-6 large6 columns left">
        <%= image_tag 'mks-streetview.png' %>
      </div>
    </div>
    
    <div class="small-12 medium-12 large-12 columns left what-what">
      <h2 class="text-center">What are CFU's?</h2>
      <p>CFU is an acronym for "Checks For Understanding" used throughout the world in many fields and settings, but primarily education.  CFUs are useful as they allow instructors to gauge the progress or understanding of content of their students as they introduce them to content.  Instructors can immediately choose how to respond when they do not get the results expected during class lectures.</p>
    </div>

    <div class="small-12 medium-12 large-12 columns maker-img-div">
      <h2 class="text-center opensans-font">The Makers</h2>
      <div class="row hex-main">
        <div class="hex-img-container-1 large-9 large-centered columns text-center">
          <a href="https://twitter.com/mindeavor" target="_blank"><%= image_tag 'gilbert.png', class: 'hex-img' %>
            <span class="text-content text-1">
              <span>
                GILBERT
                <br>
                Project Manager
                <br>
                Senior Instructor
                <br>
                <i class="fa fa-twitter fa-2x"></i>
                <br>
              </span>
            </span>
          </a>
          <a href="https://twitter.com/TheRandyD" target="_blank"><%= image_tag 'randy.png', class: 'hex-img' %>
            <span class="text-content text-2">
              <span>
                RANDY
                <br>
                UI / UX
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
          <a href="https://twitter.com/ChristineOen" target="_blank"><%= image_tag 'chris.png', class: 'hex-img' %>
            <span class="text-content text-3">
              <span>
                CHRIS
                <br>
                Back-End
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
        </div>

        <div class="hex-img-container-2 large-7 large-centered columns text-center">
          <a href="https://twitter.com/AlliZad" target="_blank"><%= image_tag 'allison.png', class: 'hex-img' %>
            <span class="text-content text-4">
              <span>
                ALLISON
                <br>
                UI / UX
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
          <a href="https://twitter.com/cathzozo" target="_blank"><%= image_tag 'catherine.png', class: 'hex-img' %>
            <span class="text-content text-5">
              <span>
                CATHERINE
                <br>
                Back-End
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
        </div>

        <div class="hex-img-container-3 large-9 large-centered columns text-center">
          <a href="https://twitter.com/bpatterson2013" target="_blank"><%= image_tag 'brian.png', class: 'hex-img' %>
            <span class="text-content text-6">
              <span>
                BRIAN
                <br>
                Front-End
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
          <a href="https://twitter.com/QuinAdney" target="_blank"><%= image_tag 'quin.png', class: 'hex-img' %>
            <span class="text-content text-7">
              <span>
                QUIN
                <br>
                Front-End
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
          <a href="https://twitter.com/charnwoot" target="_blank"><%= image_tag 'joe.png', class: 'hex-img' %>
            <span class="text-content text-8">
              <span>
                JOE
                <br>
                Back-End
                <br>
                <i class="fa fa-twitter fa-2x"></i>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>