<h1 class="header">Classes</h1>

<!-- displays each class -->
<div class="all-classes panel">

  <% @class_groups.each do |class_group| %>
    <div class="specific-class panel">


      <%= link_to class_group do %>
        <div class="row">
          <!-- I need a link here to the class show page -->
            <h3><%= class_group.name %></h3>
            <p><%= class_group.description %></p>
        </div>
      <% end %>

      <div class="row class-options">
        <ul class="small-block-grid-2">

          <li><span> <%= link_to 'edit class', edit_class_group_path(class_group), class: 'fi-pencil iconic-md' %> </span></li>
            
            <!-- this is not the right link to add students, memberships controller -->
          <li><span><%= link_to 'edit students', "class_groups/#{class_group.id}/memberships", class: 'fi-people iconic-md' %></span></li>
        </ul>
      </div>

    </div>
  <% end %>
</div>

<br>

<!-- add a new class button -->
<a href="#">
  <div class="add-class panel">
    <div class="row panel">
      <a href="#"><div class="header"><h3>Add a Class</h3></div></a>
    </div>
  </div>
</a>

<!-- add a new class form -->
<div class="new-class panel">
  <h3>Create a Class</h3>
  <% title = 'title' %>
  <% description = 'description' %>
  <%= render 'form' %>
</div>







<!-- selected student class that shows class info and available question sets; ** use @class_group as a stand-in for @question_sets in the "qset" id **-->
<div class="small-8 columns small-centered">
  <h1>
    <% @class_groups.each do |name_descr| %>
      <%= name_descr.name %>
    <% end %>
  </h1>
  <h2>
    <% @class_groups.each do |name_descr| %>
      <%= name_descr.description %>
    <% end %>
  </h2>
  <!-- Available Question Sets for the Class -->
  <div id="qset">
    <% @class_groups.each do |question_set| %>
      <%= link_to question_set.name, question_set, :class => "button expand radius" %>
    <% end %>
  </div>
</div>






