<h1>Listing class_groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_groups.each do |class_group| %>
      <tr>
        <td><%= class_group.name %></td>
        <td><%= class_group.description %></td>
        <td><%= link_to 'Show', class_group %></td>
        <td><%= link_to 'Edit', edit_class_group_path(class_group) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>New class_group</h1>

<%= render 'form' %>

<div class="class-groups panel">
  <div class="header"><h1>Classes</h1></div>
  <div class="class-list">

  <!-- 'specific-class' is a div for each class that belongs to the user -->
    <div class="specific-class panel">
      <div class="row">
        <a>
          <h3>Ruby Course</h3>
          <p>An adventure in a language that you will come to know and love dearly.</p>
        </a>
      </div>
      <div class="row">
        <ul class="small-block-grid-2">
          <li><a><span class="fi-pencil iconic-md" title="pencil" aria-hidden="true">Edit</span></a></li>
          <li><a><span class="fi-people iconic-md" title="people" aria-hidden="true">Add Students</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="create-class"></div>
</div>


<!-- add a new class -->
<div class="add-class panel">
  <div class="row panel">
    <a href="#"><div class="header"><h3>Add a Class</h3></div></a>
  </div>
</div>




<!-- student class list that shows a button for each registered class -->
<div class="small-8 columns small-centered">
  <h1>Student Listing class_groups</h1>

  <div>
    <% @class_groups.each do |class_group| %>
      <%= link_to class_group.name, class_group, :class => "button expand radius" %>    
    <% end %>
  </div>
</div>






<!-- selected student class that shows class info and available question sets; ** use @class_group as a stand-in for @question_sets in the "qset" id **-->
<div>
  <h1><%= @class_groups.name %></h1>
  <h2><%= @class_groups.description %></h2>
  <!-- Available Question Sets for the Class -->
  <div id="qset">
    <% @class_group.each do |question_set| %>
      <%= link_to question_set.name, class_group, :class => "button expand radius" %>
    <% end %>
  </div>
</div>






