<div id="classes" class="opensans-font">

  <div class="header">
    <h1 class="opensans-font">
      Classes
    </h1>
  </div>

  <div class="classes-container">

  <!-- displays each class -->
  <div class="all-classes" id="all-classes">

    <% @class_groups.each do |class_group| %>
      <div class="specific-class row">

        <%= link_to class_group do %>
          <div class="class-header opensans-font">
              <h3 class="opensans-font class-name"><%= class_group.name %></h3>
              <p class="opensans-font class-desc italic"><%= class_group.description %></p>
          </div>
        <% end %>

        <div class="row class-options">
          <div>
            <%= link_to 'edit class', edit_class_group_path(class_group), class: 'code-font edit-class' %>
          </div>
              <!-- this is not the right link to add students, memberships controller -->
          <div>
            <%= link_to 'edit students', "class_groups/#{class_group.id}/memberships", class: 'code-font edit-students' %>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <!-- add a new class button -->
  <a href="#" id="addclass">
  <div class="add-class">
    <h3 class="opensans-font">Add a Class</h3>
  </div>
  </a>

  <!-- add a new class form -->
  <div class="new-class">
    <h3 class="opensans-font">Create a Class</h3>
    <% title = 'title' %>
    <% description = 'description' %>
    <%= render 'form' %>
  </div>

</div>
</div>









