<script type="text/javascript">
  window.g = {};
  g.classGroup = <%= raw @class_group.to_json %>;
</script>

<div ng-app="app" ng-controller="QuestionSetCtrl">
  <p id="notice"><%= notice %></p>
  <h3 class="gothic-caps-font">manage question sets</h3>
  <!-- class title -->
  <h1 class="opensans-font"><%= link_to @class_group.name, class_group_path %></h1>
  <p class="code-font italic"><%= @class_group.description %></p>
  <%= @current_user.teacher?(@class_group.id).inspect %>
  <%= @class_group.inspect %>
  <% if @class_group.errors.any? %>
    <div id="error_explanation">
      <p> <%= @class_group.errors %> </p>
    </div>
  <% end %>

  <%= link_to 'Back', :back %>
 
  <div class="ng-qset-show">
    
  <!-- yield here to the view -->
  <ng-view></ng-view>

  </div> 
  <%= javascript_include_tag "angular_application" %>

</div>