<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @class_group.name %>  
</p>
<p>
  <strong>Description:</strong>
  <%= @class_group.description %>  
</p>
<%= link_to 'Edit', edit_class_group_path(@class_group) %> |
<%= link_to 'Back', class_groups_path %>
