<script type="text/javascript">
  window.g = {};
  g.classGroup = <%= raw @class_group.to_json %>;
  g.questionSet = <%= raw @question_sets.to_json %>;
</script>

<div ng-app="app" ng-controller="QuestionSetCtrl" class="ng-manage-q">
  <div class="manage-back-button">
    <%= link_to :back do %>
    <i class="fa fa-angle-double-left fa-3x"></i>
    <% end %>
  </div>
  <p id="notice"><%= notice %></p>
  <div class="header">
  <h3 class="gothic-caps-font">manage question sets</h3>
  <!-- class title -->
  <h1 class="opensans-font"><%= link_to @class_group.name, class_group_path %></h1>
  </div>
  <% if @class_group.errors.any? %>
    <div id="error_explanation">
      <p> <%= @class_group.errors %> </p>
    </div>
  <% end %>
 
  <div class="ng-qset-show">
    
  <!-- yield here to the view -->
  <ng-view></ng-view>

  </div> 
  <%= javascript_include_tag "angular_application" %>

</div>