<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Click Clack</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400|Open+Sans|Megrim|Slabo+13px|Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <script>
    window.domain_url = "http://localhost:3000/"
    </script>
  </head>

  <body>
    <% if current_user %>
      <%= render 'partials/nav' %>
    <% else %>
      <%= render 'partials/nav_signed_out' %>
    <% end %>
    <div>
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>

